{% extends "layouts/base.html" %} {% load static %} {% block title %} Home Page
{% endblock %} {% block 'content' %} {% endblock %} {% block 'body' %}

<div class="container">
  <a href="{% url 'create' %}" class="btn btn-dark">Create Post</a>
</div>

<div class="row">
  <div class="col-3">
    <div class="card" style="width: 18rem">
      <img
        src="{{ post.get_image_url}}"
        class="card-img-top"
        alt="..."
        width="200"
        height="200"
      />
      <div class="card-body text-center">
        <h5 class="card-title">{{post.title}}</h5>
        <p class="card-text">{{ post.body}}</p>
        <p class="card-text">{{ post.created_at}}</p>
        <p class="card-text">{{ post.updated_at}}</p>

        <a href="{{ post.get_list_url }}" class="btn btn-secondary">back</a>
      </div>
    </div>
  </div>
</div>

<script src="{% static 'store/js/script.js' %}"></script>

{% endblock %}
