{% extends "layouts/base.html" %}
{% load static %}
{% block title %} Edit Post {% endblock %}
{% block 'content' %} {% endblock %} {% block 'body' %}
<h1 class="post-title">Edit Your Post</h1>
<form method="post" enctype="multipart/form-data" class="my-4">
    {% csrf_token %} {{form}}
    <button type="submit" class="btn btn-primary">Submit</button>
<a class="btn btn-secondary" href="{{ post.get_list_url }}">Back</a>

</form>
<script src="{% static 'store/js/script.js'%}"></script>
{% endblock %}
</h1>